{{ define "main" }}
{{$imagedomain := string .Site.Params.imagedomain }}
<style>
h1,h2,h3,h4{text-transform: uppercase;}
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 96%));
  grid-template-rows: auto 1fr auto; 
  gap: 20px;
}

@media(min-width: 576px) {
  .dashboard{
      grid-template-columns: /*516px*/ 100% ;
  }
}

@media(min-width: 768px) {
  .dashboard{
      /*grid-template-columns: 340px 340px;*/
      grid-template-columns: 49% 49%;
  }
}

@media(min-width: 992px) {
  .dashboard{
      grid-template-columns: 460px 460px;
  }
}

@media(min-width: 1200px) {
  .dashboard{
      grid-template-columns: 360px 360px 360px;
  }
}

@media(min-width: 1400px) {
  .dashboard{
      grid-template-columns: 32.5% 32.5% 32.5%;
  }
}


.card {
  display: grid;
  /* Span across all 4 rows defined in the parent container */
  grid-row: span 3;
  /* Inherit the row tracks from the parent grid */
  grid-template-rows: subgrid;
}
img {
  padding:0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.card-header{ 
    padding: 0; /*var(--bs-card-cap-padding-x)*/
    background-color: #fff;
    border-bottom: none;
    height: 15.625rem;
}
.card-footer {
  background-color: #fff;
  border-top: none;
    a{
    text-decoration: none;
}
}
    .title-color{
    color: #28347E;
    } 
</style>

<main id="main" class="sector_agrifood page_home">
<div style="width: 100%;  background-color: #1A1533;  display: grid; place-items: center; padding-block:1.5rem;margin-bottom:1rem;">
  <h1 style="color:white; padding: 0px; margin: 0px;">{{ .Title }}</h1>
</div>
<section class="growth-links">
  <div class="container">
      <div class="xrow dashboard ZAPZAP">

            {{ range .Pages }}
             {{ if .Param "display" }}
                <div class="card shadow">
                    <div class="card-header">
                        {{ $url2resize := .Params.image  }}
                        {{ $transformedUrl := replaceRE `v\d+` "f_auto,q_auto,w_420" $url2resize }}
                        <img loading="lazy" src="{{ $transformedUrl }}" alt="{{ .Params.title }}">
                    </div>
                    <div class="card-body">
                          {{ if .Params.categories }}
                             {{ partial "category-links.html" . }}
                          {{ end }}    
                        <h4 class="title-color">
                            {{ .Params.title}}
                        </h4>
                        <div>{{ .Summary | truncate 100 }}</div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                       <a href="{{ .RelPermalink }}">read article</a>
                    </div>
                </div>
            {{ end }}
           {{ end }}

      </div>
  </div>
</section> 
</main>   
{{ end }}