{{ with .Params.categories }}
<style>
    :root{
    --space-1: 0.25rem;
    --space-3: 0.75rem;
    }
  .category-tag {
    display: inline-block;
    margin-right: var(--space-1);
  padding-block: var(--space-1);
  padding-inline: var(--space-3);
  background-color: #9fc41f;
  color: #fff;
  text-decoration: none;
  border-radius: 9999px;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  transition: 
    background-color 150ms cubic-bezier(0, 0, 0.2, 1),
    color 150ms cubic-bezier(0, 0, 0.2, 1);
}
</style>
  <div class="post-categories">
      {{ range . }}
        {{- $url := printf "/categories/%s" (. | urlize) -}}
        {{- with $.Site.GetPage $url -}}

            <a class="category-tag" href="{{ .RelPermalink }}">{{ .LinkTitle }} </a>

        {{- end -}}
      {{- end -}}
  </div>
{{ end }}


