{{ define "main" }}
{{$imagedomain := string .Site.Params.imagedomain }}
<style>
    h1,h2,h3,h4{text-transform: uppercase;}
    .title-color{
    color: #28347E;
    } 

</style>
<main id="main" class="sector_agrifood post-template growth-links">
    <style>.sector-mid{color: var(--sector-agrifood-mid);}.sector-dark{color: var(--sector-agrifood-dark);}img{max-width: 100%; height: auto;}</style>
<section class="section_article-header mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ if .Params.categories }}
                    {{ partial "category-links.html" . }}
                {{ end }} 

                <h1 class="title-color">{{ .Params.title}}</h1>
                <h2 class="title-color">{{ .Params.sub_heading}}</h2>
                <div class="img-wrapper">
                    <img src={{ replace .Params.image "upload/" "upload/w_1200/q_auto,f_auto/" }} alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_article-text">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="text-dark-blue mb-5 contentblock">
                    <p>{{ .Params.intro }}</p>
                    {{ .Content | safeHTML }}
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{{ end }}